<!-- list -->
<ul class="nav">
  <li>
    <a ui-sref="app.dashboard-v1" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
  </li>
</ul>

