<!-- list -->
<ul class="nav">
  <li>
    <a ui-sref="app.dashboard-v1" class="auto">      
      <i class="glyphicon glyphicon-stats icon text-primary-dker"></i>
      <span class="font-bold" translate="aside.nav.DASHBOARD">Dashboard</span>
    </a>
  </li>
 <!--  <li ui-sref-active="active">
    <a ui-sref="app.calendar">
      <i class="glyphicon glyphicon-calendar icon text-info-dker"></i>
      <span class="font-bold" translate="aside.nav.CALENDAR">Calendasdar</span>
    </a>
  </li> -->
  <li ui-sref-active="active">
      <a href class="auto">      
        <span class="pull-right text-muted">
         <i class="fa fa-fw fa-angle-right text"></i>
         <i class="fa fa-fw fa-angle-down text-active"></i>
        </span>
        <i class="glyphicon glyphicon-user text-primary-dker"></i>
        <span class="font-bold">User</span>
      </a>
      <ul class="nav nav-sub dk">
        <li class="nav-sub-header">
          <a href="#">
            <span class="font-bold">User</span>
          </a>
        </li>
        <li>
          <a ui-sref="app.adduser">
            <span class="font-bold">Add</span>
          </a>
        </li>
        <li>
          <a ui-sref="app.viewuser">
            <span class="font-bold">View</span>
          </a>
        </li>     
      </ul>
    </li>

    <li ui-sref-active="active">
                <a href class="auto">      
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>

                  <i class="glyphicon glyphicon-briefcase icon text-primary-dker"></i>
                  <span class="font-bold">Vendor</span>
                </a>
                <ul class="nav nav-sub dk">
                  <li class="nav-sub-header">
                    <a href="#">
                      <span class="font-bold">Vendor</span>
                    </a>
                  </li>
                  <li>
                    <a ui-sref="app.addvendor">
                      <span class="font-bold">Add</span>
                    </a>
                  </li>
                  <li>
                    <a ui-sref="app.viewvendor">
                      <span class="font-bold">View</span>
                    </a>
                  </li>   
                   <li>
                    <a ui-sref="app.report">
                      <span class="font-bold">Report</span>
                    </a>
                  </li>    
                </ul>
              </li>

  <li ui-sref-active="active">
                <a ui-sref="app.pixel">
                  <i class="glyphicon glyphicon-record text-primary-dker"></i>
                  <span class="font-bold">Pixel</span>
                </a>
              </li>
  

<li ui-sref-active="active">
                <a ui-sref="app.transaction">
                  <i class="glyphicon glyphicon-list-alt text-primary-dker"></i>
                  <span class="font-bold">Transactions</span>
                </a>
              </li>

              
</ul>
<!-- / list -->
