<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">TRANSACTION</h1>
</div>
      <div class="wrapper-md" ng-controller="AddUserCtrl">
        <!-- form -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">Add Transaction</div>
              <div class="panel-body">
                <!-- <form class="bs-example form-horizontal" name="adduser" id="adduser">
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Firstname</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" placeholder="Firstname">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-lg-2 control-label">Lastname</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" placeholder="Lastname">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-lg-2 control-label">Email</label>
                    <div class="col-lg-10">
                      <input type="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-lg-2 control-label">Vendor</label>
                    <div class="col-lg-10">
                      <input type="text" class="form-control" placeholder="Vendor">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Role</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <select name="role" class="form-control m-b">
                        <option value="">--Role--</option>
                        <option value="manager">Manager</option>
                        <option value="admin">Admin</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <select name="role" class="form-control m-b">
                        <option value="">--Status--</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-sm btn-info">Add</button>
                    </div>
                  </div>
                </form> -->
              </div>
            </div>
          </div> 
        <!-- / form -->
      </div>
    </div>
    <!-- / main container -->