<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">VENDOR</h1>
</div>
<!-- / main header -->
      <div class="wrapper-md" ng-controller="AddVendorCtrl">
        <!-- service -->
            <div class="col-sm-10">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">Add Vendor</div>
              <div class="panel-body">
                <form class="bs-example form-horizontal" name="adduser" id="adduser" ng-submit="sendPost()">
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" pattern="[a-zA-Z0-9]+" required ng-model="nam" placeholder="Vendor Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <select name="role" ng-model="stat" required class="form-control m-b">
                        <option value="">--Status--</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-sm btn-info">Add</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        <!-- / service -->
      </div>
    </div>
  