<div ng-controller="IndexCtrl">
  <div class="bg-light lter b-b wrapper-md" >
    <h1 class="m-n font-thin h3">USERS</h1>
  </div>
  <div class="wrapper-md" >
    <!--<form class="form-inline">-->
      <!--<div class="row">-->
        <!--&lt;!&ndash;<div class="col-sm-8">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="form-group ">&ndash;&gt;-->
            <!--&lt;!&ndash;<label >Search</label>&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="text" ng-model="search" class="form-control" placeholder="Search">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col-sm-4">&ndash;&gt;-->
          <!--&lt;!&ndash;<ul class="pagination pull-right" style="margin : 0px !important;">&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a ui-sref="app.viewuser({skip: PrevPage})">Prev</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a ui-sref="app.viewuser({skip: NextPage})">Next</a></li>&ndash;&gt;-->
          <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--</div>-->
    <!--</form>-->
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
        <thead>
        <tr>
          <th  style="width:20%">Id</th>
          <th  style="width:25%">Name</th>
          <th  style="width:25%">Email</th>
        </tr>


        </thead>
        <tbody>
        <tr ng-repeat="user in users|filter:search">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <div ng-controller="DeleteUserCtrl"></div> -->
</div>
