<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">VENDOR</h1>
</div>
<!-- / main header -->
      <div class="wrapper-md" ng-controller="EditVendorCtrl">
        <!-- service -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">Edit Vendor</div>
              <div class="panel-body">
                <form class="bs-example form-horizontal" name="editvendor" id="editvendor" ng-submit="sendPost()">
                <div class="form-group">
                    <div class="col-lg-6">
                      <input type="hidden" class="form-control" ng-model="vendors.id">
                    </div>
                  </div>  
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Name</label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" pattern="[a-zA-Z0-9]+" required ng-model="vendors.name" placeholder="Vendor Name">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-sm btn-info">Update Details</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        <!-- / service -->
      </div>
      <br><br>
      <div class="wrapper-md" ng-controller="EditVendorCtrl">
      <!-- <form class="form-inline">
        <div class="form-group pull-right">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
    </form> -->
        <!-- service -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">{{vendors.name }} pixels
                  <form class="form-inline">
                    <div class="row" style="padding-top: 15px;">
                       <div class="col-sm-8">  
                      <div class="form-group ">
                          <label >Search</label>
                          <input type="text" ng-model="search" class="form-control" placeholder="Search">
                      </div>
                    </div> 
                    <div class="col-sm-4">
                      <ul class="pagination pull-right" style="margin : 0px !important;">
                          <li><a ui-sref="app.editvendor({id: vendors.id,skip: PrevPage})">Prev</a></li>
                          <li><a ui-sref="app.editvendor({id: vendors.id,skip: NextPage})">Next</a></li>
                      </ul>
                    </div>
                  
                    </div>  
                </form> 
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped b-t b-b">
                    <thead>
                      <tr>
                        <th  style="width:20%">Name</th>
                        <th style="width:20%">Vendor Name</th>
                        <th  style="width:15%">Commission Type</th>
                        <th  style="width:25%">Commission</th>
                        <th  style="width:25%">Action</th>
                      </tr>
                    </thead>
                     <p style="text-align:center; color:red;">{{ message }}</p>
                    <tbody>
                     <tr ng-repeat="pixel in pixels|filter:search">
                        <td>{{ pixel.name }}</td>
                        <td>{{ pixel.vendorName}}</td>
                        <td>{{ pixel.commissionType }}</td>
                        <td>
                            <span ng-if="pixel.commissionType === 'PERCENTAGE'">{{ pixel.commissionPercentage*100 }}%</span>
                            <span ng-if="pixel.commissionType === 'FIXED'">{{ pixel.commissionFixedAmount }}</span>
                        </td>
                         <td> 
                           <!-- <a ui-sref="app.editpixel({id: pixel.id})" ui-sref-opts="" style="color:green;">Edit</a> -->
                           <a ui-sref="app.editpixel({id: pixel.id})" class="btn btn-sm btn-success">View</a>
                           <!-- <a data-ng-click="" ng-controller="DeleteUserCtrl" style="color:red;">Delete</a> -->
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> 
        <!-- / service -->
      </div>
    </div>

    