<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">PIXEL</h1>
</div>
    <!-- / main header -->
      <div class="wrapper-md" ng-controller="EditPixelCtrl">
        <!-- service -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">Edit Pixel</div>
              <div class="panel-body">
                <form class="bs-example form-horizontal" name="editpixel" id="editpixel" ng-submit="sendPost()">
                <div class="form-group">
                    <div class="col-lg-6">
                      <input type="hidden" class="form-control" ng-model="pixels.id">
                    </div>
                  </div> 
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Pixel Name</label>
                    <div class="col-lg-6">
                      <input type="text" required class="form-control" ng-model="pixels.name" placeholder="Pixel Name">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-sm-2 control-label">Commission Type</label>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 ">
                    <label class="control-label"> Percentage Based</label>
                     <input type="radio" ng-model="pixels.commissionType" value="PERCENTAGE">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12 ">
                   <label class="control-label"> Amount Based  </label>
                      <input type="radio" ng-model="pixels.commissionType" value="FIXED" >
                    </div>
                  </div>
                  <span ng-if="pixels.commissionType === 'PERCENTAGE'">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Percentage(%)</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <input type="text" pattern="[0-9]+" maxlength="2"  ng-model="pixels.DisplayPercentage" required class="form-control" placeholder="10">
                    </div>
                  </div>
                  </span>
                   <span ng-if="pixels.commissionType === 'FIXED'">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Amount</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                     <input type="text" pattern="[0-9]+" maxlength="7" ng-model="pixels.DisplayFixedAmount" required class="form-control" placeholder="123456">
                    </div>
                  </div>
                  </span>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Tracking Code</label>
                    <div class="row">
                        <div class="col-lg-6" style="margin-top: -15px;">
                          <xmp id="p1" style="white-space: pre-line;"><img src="http://skoov.unicoconnect.com:3000/api/trackers?trackerId={{pixels.id}}&orderId=[param1]&totalAmount=[param2]&orderStatus=[param3]"></img></xmp>
                        </div>
                  <!--   </div>
                    <div class="row"> -->    
                        <div class="col-lg-2">
                              <button type="submit" class="btn btn-sm btn-info" onclick="return copyToClipboard('p1')">Copy</button>
                        </div>
                    </div>    
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-sm btn-info">Update Details</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        <!-- / service -->
      </div>
      <br><br>
       <div class="wrapper-md" ng-controller="EditPixelCtrl">
        <!-- service -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">{{pixels.name}} Transactions
                 <form class="form-inline">
                    <div class="row" style="padding-top: 15px;">
                       <div class="col-sm-8">  
                      <div class="form-group ">
                          <label >Search</label>
                          <input type="text" ng-model="search" class="form-control" placeholder="Search">
                      </div>
                    </div> 
                    <div class="col-sm-4">
                      <ul class="pagination pull-right" style="margin : 0px !important;">
                         <li><a ui-sref="app.editpixel({id: pixels.id,skip: PrevPage})">Prev</a></li>
                         <li><a ui-sref="app.editpixel({id: pixels.id,skip: NextPage})">Next</a></li>
                      </ul>
                    </div>
                  
                    </div>  
                </form> 
              </div>
              <div class="panel-body">
                  <table  class="table table-striped b-t b-b">
                    <thead>
                      <tr>
                        <th  style="width:25%">Order Id</th>
                        <th  style="width:25%">Total Amount</th>
                        <th  style="width:25%">Commission Amount</th>
                        
                      </tr>
                    </thead>
                    <p style="text-align:center; color:red;">{{ message }}</p>
                    <tbody>
                    <tr ng-repeat="transaction in transactions|filter:search">
                        <td>{{ transaction.orderId }}</td>
                        <td>{{ transaction.totalAmount }}</td>
                        <td>{{ transaction.commissionAmount }}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div> 
        <!-- / service -->
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
       <script type="text/javascript">
       function copyToClipboard(elementId) {

  // Create a "hidden" input
  var aux = document.createElement("input");

  // Assign it the value of the specified element
  aux.setAttribute("value", document.getElementById(elementId).innerHTML);

  // Append it to the body
  document.body.appendChild(aux);

  // Highlight its content
  aux.select();

  // Copy the highlighted text
  document.execCommand("copy");

  // Remove it from the body
  document.body.removeChild(aux);
  return false;

}

    </script>
    <!-- / main container -->