<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">USER</h1>
</div>
 <div class="wrapper-md" ng-controller="EditUserCtrl">
        <!-- form -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">Edit User</div>
              <div class="panel-body">
                <form class="bs-example form-horizontal" name="edituser" id="edituser"  ng-submit="sendPost()">
                  <div class="form-group">
                    <div class="col-lg-6">
                      <input type="hidden" class="form-control" ng-model="users.id">
                    </div>
                  </div>   
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Firstname </label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" pattern="[a-zA-Z0-9]+" ng-model="users.firstName" required placeholder="New Firstname">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-lg-2 control-label">Lastname </label>
                    <div class="col-lg-8">
                      <input type="text" class="form-control" pattern="[a-zA-Z0-9]+" ng-model="users.lastName" required  placeholder="New Lastname">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Email </label>
                      <div class="col-lg-8">
                        <input type="email" class="form-control" ng-model="users.email" required placeholder="New Email">
                      </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Role </label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <input type="text" class="form-control" ng-model="users.role" readonly="">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-sm btn-info">Update Details</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        <!-- / form -->
      </div>