
<div class="container w-xxl w-auto-xs" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
  <a href class="navbar-brand block m-t">Login</a>
  <div class="m-b-lg">
    <div class="wrapper text-center">
      <p style="color:red;">{{ error }}</p>
    </div>
    <form name="form" class="form-validation" name="login" id="login" ng-submit="sendPost()">
      <div class="list-group list-group-sm">
        <div class="list-group-item">
          <input type="email" placeholder="Email" class="form-control no-border" ng-model="email" required>
        </div>
        <div class="list-group-item">
           <input type="password" placeholder="Password" class="form-control no-border" ng-model="password" required>
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary btn-block">Log in</button>
    </form>
    <p class="text-center"><small>Don't have an account?</small></p>
    <a ui-sref="access.signup" class="btn btn-lg btn-default btn-block">Sign Up</a>
  </div>
</div>