<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">PIXEL</h1>
</div>
    <!-- / main header -->
      <div class="wrapper-md" ng-controller="AddPixelCtrl">
        <!-- service -->
            <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading font-bold">Add Pixel</div>
              <div class="panel-body">
                <form class="bs-example form-horizontal"  name="addpixel" id="adduser" ng-submit="sendPost()">
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Pixel Name</label>
                    <div class="col-lg-8">
                      <input type="text" required class="form-control" ng-model="pixelname" placeholder="Pixel Name">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-lg-2 control-label">Vendor Id</label>
                    <div class="col-lg-8">
                      <input type="text" required class="form-control" ng-model="vendorid" placeholder="12356588">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-lg-2 control-label">Vendor Name</label>
                    <div class="col-lg-8">
                      <input type="text" required class="form-control" pattern="[a-zA-Z0-9]+" ng-model="vendorName" placeholder="Flipkart">
                    </div>
                  </div>
                   <div class="form-group">
                    <label class="col-sm-2 control-label">Commission Type</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <select name="commissionType" ng-model="commissionType" required id="commissiontype" onchange="ComType()" class="form-control m-b">
                        <option value="">--Commission Type--</option>
                        <option value="percentage">Percentage Based</option>
                        <option value="fixed">Amount Based</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" id="amount" style="display:none;">
                    <label class="col-sm-2 control-label">Amount</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                     <input type="text" name="commissionFixedAmount" required  class="form-control" ng-model="commissionFixedAmount" id="fixAmount"  placeholder="12356588">
                    </div>
                  </div>
                  <div class="form-group" id="percent" style="display:none;">
                    <label class="col-sm-2 control-label">Percentage(%)</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <input type="number" name="commissionPercentage" required min="0" max="100" class="form-control" ng-model="commissionPercentage" id="percentage">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <select name="stat" required ng-model="stat" class="form-control m-b">
                        <option value="">--Status--</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit"  class="btn btn-sm btn-info">Add</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> 
        <!-- / service -->
      </div>
    </div>
      <script type="text/javascript">
       
      
   function ComType() {
            // var mylist3 = document.getElementById("cargotype");
            // document.getElementById("demo3").value = mylist3.options[mylist3.selectedIndex].text;
        }
        $('#commissiontype').change(function(){
            selection = $(this).val();
            switch(selection)
            {
                case 'fixed':
                    $('#amount').show();
                    $('#percent').hide();
                    document.getElementById("percentage").removeAttribute("required");
                    break;
                case 'percentage':
                    $('#percent').show();
                    $('#amount').hide();
                    document.getElementById("fixAmount").removeAttribute("required");
                    break;
                default:
                    $('#percent').hide();
                    $('#amount').hide();
                    break;
            }
        });
    </script>
   
    <!-- / main container -->