<div ng-controller="TransactionCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">TRANSACTION</h1>
  <a href="http://skoov.unicoconnect.com:3000/api/transactions/export/all?&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;margin-left: 4px;">Export All</a>
  <span ng-if="!message">
    <a href="http://skoov.unicoconnect.com:3000/api/transactions/export?skip={{ ExportSkip*50 }}&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;">Export CSV</a>
  </span>  
</div>
<div class="wrapper-md">
      <form class="form-inline">
      <div class="row">
         <div class="col-sm-8">  
        <div class="form-group ">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </div> 
      <div class="col-sm-4">
        <ul class="pagination pull-right" style="margin : 0px !important;">
         <li><a ui-sref="app.transaction({skip: PrevPage})">Prev</a></li>
          <li><a ui-sref="app.transaction({skip: NextPage})">Next</a></li>
        </ul>
      </div>
      </div>  
    </form>
        <div class="table-responsive">
      <table  class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:25%">Order Id</th>
            <th  style="width:25%">Total Amount</th>
            <th  style="width:25%">Pixel Id</th>
            <th  style="width:25%">Commission Amount</th>
            
          </tr>
        </thead>
        <br>
        <p style="text-align:center; color:red;">{{ message }}</p>
        <tbody>
        <tr ng-repeat="transaction in transactions|filter:search">
            <td>{{ transaction.orderId }}</td>
            <td>{{ transaction.totalAmount }}</td>
            <td>{{ transaction.pixelId }}</td>
            <td>{{ transaction.commissionAmount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>