<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">OVERALL REPORT</h1>
  <!-- <a ui-sref="" class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;">Export CSV</a> -->
</div>
<div class="wrapper-md" ng-controller="ViewOverallCtrl">
<div class="row">
    <form name="report" class="form-validation form-inline" ng-submi="sendPost()">
      <div class="col-lg-3 col-md-3" style="padding-right:0px;">
        <div class="form-group">
          <label>From:</label>
          <input type="text" ng-model="from" name="from" class="form-control" placeholder="YYYY-MM-DD">
        </div>
      </div>
      <div class="col-lg-3 col-md-3" style="padding-left:0px;">
        <div class="form-group pull-left">
          <label>To:</label>
          <input type="text" ng-model="to" name="to" class="form-control" placeholder="YYYY-MM-DD">
          <button type="submit" class="btn btn-sm btn-warning">Find</button>
        </div>
      </div>
    </form>
      <div class="col-sm-6">
        <ul class="pagination pull-right" style="margin : 0px !important;">
        <li><a ui-sref="app.TransactionDetails({skip: PrevPage})">Prev</a></li>
          <li><a ui-sref="app.TransactionDetails({skip: NextPage})">Next</a></li>
        </ul>
      </div>
  </div>   
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">Vendor</th>
            <th style="width:25%">Number of Transactions</th>
            <th  style="width:25%">Validated</th>
            <th style="width:25%">Pending</th>
            <th style="width:25%">Commission</th>
          </tr>
         
          
        </thead>
        <p style="text-align:center; color:red; display:none;">{{ message }}</p>
        <tbody>
         <!-- <tr ng-repeat="user in users|filter:search">
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
          </tr> -->
        </tbody>
      </table>
    </div>
      </div>
    </div>
     
