<div ng-controller="ViewVendorCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">VENDOR</h1>
  <a href="http://skoov.unicoconnect.com:3000/api/vendors/export/all?&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;margin-left: 4px;">Export All</a>
  <span ng-if="!message">
     <a href="http://skoov.unicoconnect.com:3000/api/vendors/export?skip={{ ExportSkip*50 }}&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;">Export CSV</a>
  </span>   
</div>
<div class="wrapper-md">
      <form class="form-inline">
      <div class="row">
         <div class="col-sm-8">  
        <div class="form-group ">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </div> 
      <div class="col-sm-4">
        <ul class="pagination pull-right" style="margin : 0px !important;">
        <li><a ui-sref="app.viewvendor({skip: PrevPage})">Prev</a></li>
          <li><a ui-sref="app.viewvendor({skip: NextPage})">Next</a></li>
        </ul>
      </div>
      </div>  
    </form>
    <div class="table-responsive">
      <table  class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:25%">Id</th>
            <th  style="width:25%">Name</th>
           <!--  <th  style="width:25%">Commission Type</th>
            <th  style="width:25%">Commission</th> -->
            <th  style="width:25%">Action</th>
          </tr>
        </thead>
        <br>
         <p style="text-align:center; color:red;">{{ message }}</p>
        <tbody>
        <tr ng-repeat="vendor in vendors|filter:search">
            <td>{{ vendor.id }}</td>
            <td>{{ vendor.name }}</td>
            <!-- <td>{{ vendor.commissionPercentage }}<span ng-if="vendor.commissionType === 'PERCENTAGE'">%</span>
                <span ng-if="vendor.commissionType === 'AMOUNT'"></span>
            </td> -->
            <td> 
               <!-- <a ui-sref="app.editvendor({id: vendor.id})" ui-sref-opts="" style="color:green;">View</a> -->
               <a ui-sref="app.editvendor({id: vendor.id,skip:0})" class="btn btn-sm btn-success">View</a>
               <!-- <a style="color:red;">Delete</a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>
