<div ng-controller="ViewTransDetailCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">TRANSACTION DETAILS</h1>
  <!-- <a href="http://localhost:3000/api/transactions/export/detail?&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;margin-left: 4px;">Export All</a> -->
</div>
<div class="wrapper-md" >
  <div class="row">
     <form name="form" class="form-validation form-inline" name="report" id="report" ng-submit="sendPost()">
      <div class="col-lg-3 col-md-3" style="padding-right:0px;">
        <div class="form-group">
          <label>From:</label>
          <input type="text" ng-model="from" required class="form-control" placeholder="YYYY-MM-DD">
        </div>
      </div>
      <div class="col-lg-3 col-md-3" style="padding-left:0px;">
        <div class="form-group pull-left">
          <label>To:</label>
          <input type="text" ng-model="to" class="form-control" required placeholder="YYYY-MM-DD">
          <button type="submit" class="btn btn-sm btn-warning">Find</button>
        </div>
      </div>
    </form>
      <div class="col-sm-6">
        <ul class="pagination pull-right" style="margin : 0px !important;">
        <li><a ui-sref="app.TransactionDetails({skip: PrevPage})">Prev</a></li>
          <li><a ui-sref="app.TransactionDetails({skip: NextPage})">Next</a></li>
        </ul>
      </div>
  </div>  
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:15%">Transaction Time</th>
            <th  style="width:15%">Transaction ID</th>
            <th  style="width:15%">Vendor Ref</th>
            <th  style="width:15%">Vendor Name</th>
            <th  style="width:5%">Commission</th>
            <th  style="width:10%">Status</th>
            <th  style="width:15%">Transaction Value</th>
            <th  style="width:15%">Referrer</th>
            <th  style="width:15%">IP Address</th>
            <th  style="width:15%">User Agent</th>
          </tr>
        </thead>
        <p style="text-align:center; color:red;">{{ message }}</p>
        <tbody>
         <tr ng-repeat="transaction in transactions|filter:search">
            <td>{{ transaction.createdAt }}</td>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.pixelId }}</td>
            <td>{{ transaction.vendorName }}</td>
            <td>{{ transaction.commissionAmount }}</td>
            <td>{{ transaction.orderStatus }}</td>
            <td>{{ transaction.totalAmount }}</td>
            <td><span ng-if="transaction.referrer == null">NULL</span>{{ transaction.referrer }}</td>
            <td>{{ transaction.ipAddress }}</td>
            <td>{{ transaction.userAgent }}</td>
          </tr>
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>
     
