<div ng-controller="ViewUserCtrl">
<div class="bg-light lter b-b wrapper-md" >
  <h1 class="m-n font-thin h3">USER</h1>
    <a href="http://skoov.unicoconnect.com:3000/api/users/export/all?&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;margin-left: 4px;">Export All</a>
  <span ng-if="!message">
    <a href="http://skoov.unicoconnect.com:3000/api/users/export?skip={{ ExportSkip*50 }}&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px; ">Export CSV</a>
  </span>
</div>
<div class="wrapper-md" >
 <form class="form-inline">
      <div class="row">
         <div class="col-sm-8">  
        <div class="form-group ">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </div> 
      <div class="col-sm-4">
        <ul class="pagination pull-right" style="margin : 0px !important;">
        <li><a ui-sref="app.viewuser({skip: PrevPage})">Prev</a></li>
          <li><a ui-sref="app.viewuser({skip: NextPage})">Next</a></li>
        </ul>
      </div>
      </div>  
    </form>
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">Email</th>
            <th  style="width:25%">Role</th>
            <!-- <th style="width:25%">Status</th> -->
            <th  style="width:25%">Action</th>
          </tr>
         
          
        </thead>
        <p style="text-align:center; color:red;">{{ message }}</p>
        <tbody>
         <tr ng-repeat="user in users|filter:search">
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td> 
               <a ui-sref="app.edituser({id: user.id})" class="btn btn-sm btn-success">View</a>
               <a ui-sref="app.deleteuser({id: user.id})" class="btn btn-sm btn-danger" title="Delete User"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>
    <!-- <div ng-controller="DeleteUserCtrl"></div> -->
</div>     
