<div ng-controller="ViewPixelCtrl">
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">PIXEL</h1>
  <a href="http://skoov.unicoconnect.com:3000/api/pixels/export/all?&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;margin-left: 4px;">Export All</a>
   <span ng-if="!message">
      <a href="http://skoov.unicoconnect.com:3000/api/pixels/export?skip={{ ExportSkip*50 }}&token={{ token }}"  class="btn btn-sm btn-danger pull-right" style="margin-top: -24px;">Export CSV</a>
   </span>
</div>
    <!-- / main header -->
<div class="wrapper-md">
     <form class="form-inline">
      <div class="row">
         <div class="col-sm-8">  
        <div class="form-group ">
            <label >Search</label>
            <input type="text" ng-model="search" class="form-control" placeholder="Search">
        </div>
      </div> 
      <div class="col-sm-4">
        <ul class="pagination pull-right" style="margin : 0px !important;">
             <li><a ui-sref="app.viewpixel({skip: PrevPage})">Prev</a></li>
          <li><a ui-sref="app.viewpixel({skip: NextPage})">Next</a></li>
        </ul>
      </div>
      </div>  
    </form> 
    <div class="table-responsive">
      <table class="table table-striped b-t b-b">
        <thead>
          <tr>
            <th  style="width:20%">Name</th>
            <th  style="width:20%">Vendor Id</th>
            <th  style="width:20%">Vendor Name</th>
            <th  style="width:15%">Commission Type</th>
            <th  style="width:25%">Commission</th>
            <th  style="width:25%">Action</th>
          </tr>
        </thead>
        <br>
        <p style="text-align:center; color:red;">{{ message }}</p>
        <tbody>
         <tr ng-repeat="pixel in pixels|filter:search">
            <td>{{ pixel.name }}</td>
            <td>{{ pixel.vendorId }}</td>
            <td>{{ pixel.vendorName }}</td>
            <td>{{ pixel.commissionType }}</td>
            <td>
                <span ng-if="pixel.commissionType === 'PERCENTAGE'">{{ pixel.commissionPercentage*100 }}%</span>
                <span ng-if="pixel.commissionType === 'FIXED'">{{ pixel.commissionFixedAmount }}</span>
            </td>
             <td> 
               <a ui-sref="app.editpixel({id: pixel.id,skip:0})" class="btn btn-sm btn-success">View</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>
    <!-- / main container -->